@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Figtree", sans-serif;
  background-color: #fffdea;
  color: #003baf;
  padding: 3rem;
  /* TRouBLe */
}
h1,
h2,
h3,
h4,
p,
a {
  margin-top: 0;
}

h1 {
  color: #003baf;
  font-family: Figtree;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120.085%; /* 115.281px */
}

h2 {
  color: #003baf;
  font-family: Figtree;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120.085%; /* 76.854px */
}

h3 {
  color: #002978;
  font-family: Figtree;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

p {
  color: #002978;
  font-family: Figtree;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.project-section {
  background: #e0edf1;
  border-radius: 10px;
  padding: 9rem;
  margin-bottom: 1rem;
}

.hero {
  padding: 2rem;
  border: 2px solid hotpink;
}
.portfolio-header {
  display: flex;
  flex-direction: row;
  border: 3px solid blue;
}
.navigation {
  display: flex;
  flex-direction: column;
  background: FFFDEA;
  padding: 2rem;
  width: 75%;
  justify-content: space-between;
}
.logo {
  width: 25%;
  background: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation-item {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background: 9FBFFF;
}

.hero {
  padding: 5rem;
}

/* Project Page Styles */
.project-header {
  min-height: 60vh;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-inner-container {
  background: salmon;
}
.project-title {
  text-align: center;
  background: yellow;
  margin-bottom: 1rem;
}
.project-title:hover {
  background: white;
}
.project-description {
  text-align: center;
  background: yellow;
  margin-bottom: 1rem;
}
.project-type {
  text-transform: uppercase;
  text-align: center;
  background: yellow;
}

/* Footer Styles */

.footer {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
}
.main-footer-area {
  width: 70%;
  background: orangered;
}
.contact-footer-area {
  width: 30%;
  background: yellowgreen;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navigation {
    flex-direction: row;
  }
  body {
    background: FFFDEA;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background: green;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    background: lemonchiffon;
  }
}

/* ABOUT ELEMENTS*/
.about.herotext {
  padding: 5rem;
}

/* NOTHING IS WORKINGGGG :D 



⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡞⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⢇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡎⠀⠈⡆⠀⠀⠀⠀⠀⠀⠀⠀⡠⠊⠀⠈⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡌⠀⠀⠀⢧⠀⠀⠀⠀⠀⠀⠀⡜⠁⠀⠀⠀⠀⠣⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡪⠄⠀⠀⠀⠀⡇⣀⣀⣀⡤⠤⡧⠥⠀⠀⠀⠀⠀⠀⢳⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠃⠀⠀⠀⠀⠀⠳⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡤⡀⠀⠈⡇⠀⠀⢀⡠⠔⠂⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⠀⡇⠀⠀⠀⠀⡤⠂⡀⠀⠀⠀⠀⠀⠀⠀⢀⡜⠁⠀⡇⠀⠀⣧⠂⠃⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠁⢺⠢⢀⡀⠀⡇⠀⠉⠢⡀⠀⡏⠉⡇⠀⣇⡀⠀⢀⡇⠀⠎⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⠀⠀⠁⠙⣆⣀⡠⠞⠀⡏⣑⡇⠀⠀⠉⠉⠁⠀⡄⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠠⠐⢯⡈⠁⠁⠀⠀⠀⠀⠀⡗⠀⠀⢧⠀⠀⠀⠀⠀⠀⠈⡳⠥⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠐⠊⠈⠀⠀⠀⠀⠙⢄⡀⠀⠀⠀⠀⡎⠀⠀⠀⠀⡇⠀⠀⠀⠀⣠⠎⠁⠀⠀⠀⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠣⢄⣀⠀⠀⠀⠀⠀⠀⠀⣀⣀⡤⠞⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
*/
